---
import Nav from '../components/Nav.astro';
import Recipe from '../components/Recipe.astro';
import Header from '../components/Header.astro';
const title = 'Astro Recipe Website';
const recipes = Astro.fetchContent('./recipe/*.md')
    .sort((a, b) => a.date.localeCompare(b.date)).slice(0, 6);
---
<!-- HTML Code -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <Nav />
    <Header title="Our latest recipes" text="These are latest six recipes added to our blog." />
    <section class="grid grid-cols-3 py-8">
        {recipes.map(recipe => (<Recipe recipe={recipe} />))}
    </section>
</body>
</html>
