---
export interface Props {
  recipe: {
      url: {
          prev: number,
          next: number
      };
  };
}
const { data } = Astro.props;
---
{ data.total > 1 && (
    <footer class="py-8 text-center">
        <h2 class="mb-4 text-xl uppercase text-bold">More recipes</h2>
        <ul class="flex justify-center">
            <li><a class="flex items-center justify-center w-12 h-12 mx-2 bg-pink-200 rounded" href={data.url.prev || '#'}>&#60;</a></li>
            <li><a class="flex items-center justify-center w-12 h-12 mx-2 bg-pink-200 rounded" href={data.url.next || '#'}>&#62;</a></li>
        </ul>
    </footer>
    )
}