---
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
const { content } = Astro.props;
---
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{content.title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
</head>

  <body>
    <Nav />
    <Header title={content.title} />

    <div class="grid grid-cols-12 px-4 py-8 mx-auto">
      <section class="col-span-7">
      <img width="500px" class="img" src={content.image} alt={content.title}>
      <article class="article">
        <slot />
      </article>
    </section>
    <aside class="col-start-9 col-span-3">
      <div class="bg-gray-100 p-4 rounded-2xl text-center">
        <h4 class="uppercase text-bold text-2xl pb-4">The Chef</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue leo ac commodo maximus.</p>
      </div>
    </aside>
    </div>
    
    
  </body>
</html>
